/paulscode/
/net/
/ibxm/
/cpw/
/Start.java
/deobfuscation_data-1.6.4.lzma
/fml_at.cfg
/fml_marker.cfg
/fmlversion.properties
/forge_at.cfg
/forge_at.cfg~
/forge_logo.png
/mcpmod.info
*~
*.iml
*.ipr
*.iws
/eclipse
/out
/.project
/.classpath
/.gradle
/.settings
